
%div.maintenance-list.container
  = react_component 'DropforSort', {:sort_by_date => @sort_by_date, :page => @page}
  %div.main-column
    -@maintenance_requests.each do |maintenance_request|
      %div.row
        %div.five.columns
          %div.image
            = react_component 'ImgSlider',
                            {:images => maintenance_request.maintenance_request_image ? maintenance_request.maintenance_request_image.images : ''}

        %div.seven.columns                   
          %div.info
            %div.row
              %h3.heading
                =link_to "#{maintenance_request.maintenance_heading}", agency_admin_maintenance_request_path(maintenance_request)
              %p.status
                =maintenance_request.action_status.maintenance_request_status
            %div.row
              %p.created_at
                = maintenance_request.created_at.strftime("%d %b. %Y")
              %p.type
                |
                = maintenance_request.service_type
            = react_component 'P', {:content => maintenance_request.maintenance_description}
            %p.address
              %i.fa.fa-map-marker
              = maintenance_request.property.property_address
        %hr
        / = will_paginate @maintenance_requests, :previous_label => '< Back', :next_label => 'Next >'

  %div.side-column
    
    = react_component('DropList', {:title => "Action Required",
                                   :content => [{title:'Maintenance Request', href:filtered_maintenance_requests_path(maintenance_request_filter:"Initiate Maintenance Request"),  count:@new_maintenance_requests_count},
                                                {title:'Quote Received', href:filtered_maintenance_requests_path(maintenance_request_filter:"Quote Received"), count:@quotes_received_count},
                                                {title:'New Invoice', href:filtered_maintenance_requests_path(maintenance_request_filter:"New Invoice"), count:@new_invoice_count},
                                                {title:'Pending Payment', href:filtered_maintenance_requests_path(maintenance_request_filter:"Pending Payment"), count:@pending_payment_count}]},
                                  {class:"action"})



    = react_component('DropList', {:title => "Awaiting Action",
                                   :content => [{title:'Awaiting Owner Initiation', href:filtered_maintenance_requests_path(maintenance_request_filter:"Awaiting Owner Initiation"), count:@awaiting_owner_initiation_count},
                                                {title:'Awaiting Owner Instruction', href:filtered_maintenance_requests_path(maintenance_request_filter:"Awaiting Owner Instruction"), count:@awaiting_owner_instruction_count},
                                                {title:'Quote Requested', href:filtered_maintenance_requests_path(maintenance_request_filter:"Quote Requested"), count:@quote_requested_count},
                                                {title:'Awaiting Tradie Initiation', href:filtered_maintenance_requests_path(maintenance_request_filter:"Awaiting Tradie Initiation"), count:@awaiting_trady_initiation_count},
                                                {title:'Awaiting Tradie`s Quote', href:filtered_maintenance_requests_path(maintenance_request_filter:"Awaiting Quote"), count:@awaiting_trady_quote_count},
                                                {title:'Awaiting Quote Approval', href:filtered_maintenance_requests_path(maintenance_request_filter:"Quote Received Awaiting Approval"), count:@awaiting_quote_approval_count},
                                                {title:'Quote Approved Tradie To Organise Appointment', href:filtered_maintenance_requests_path(maintenance_request_filter:"Quote Approved Tradie To Organise Appointment"), count:@trady_organise_appointment_count},
                                                {title:'Tradie To Confirm Appointment', href:filtered_maintenance_requests_path(maintenance_request_filter:"Tradie To Confirm Appointment"), count:@trady_confirm_appointment_count},
                                                {title:'Tenant To Confirm Appointment', href:filtered_maintenance_requests_path(maintenance_request_filter:"Tenant To Confirm Appointment"), count:@tenant_confirm_appointment_count},
                                                {title:'Landlord To Confirm Appointment', href:filtered_maintenance_requests_path(maintenance_request_filter:"Landlord To Confirm Appointment"), count:@landlord_confirm_appointment_count},
                                                {title:'Maintenance Scheduled - Awaiting Invoice', href:filtered_maintenance_requests_path(maintenance_request_filter:"Maintenance Scheduled - Awaiting Invoice"), count:@maintenance_scheduled_count}]},
                                  {class:"awaiting"})



=link_to "New Invoices", filtered_maintenance_requests_path(maintenance_request_filter:"New Invoice"), remote: true
=link_to "Awaiting Owner Instruction",filtered_maintenance_requests_path(maintenance_request_filter:"Awaiting Owner Instruction"), remote: true


=link_to "INDEX",agency_admin_maintenance_requests_path, remote: true


