
.container
  %div
    -if @gallery != nil
      - @gallery.each do |image| # for each image
        = image_tag(image.url.to_s) # display the image
  %h3 
    = @maintenance_request.service_type 
    Needed for 
    =@maintenance_request.name
  %p 
    Location: 
    =@maintenance_request.property.property_address 
  %p
    Created:
    =@maintenance_request.created_at.strftime("%d %b. %Y")
  %p
    Job type:
    =@maintenance_request.service_type
  %p#landlord
    Landlord:
    
    -if @maintenance_request.property.landlord != nil
      = @maintenance_request.property.landlord.name.capitalize
    -else
      No landlord assigned to this property!

  %p
    Agent Managing: 
    -if @maintenance_request.agent_name == nil
      =@maintenance_request.agency_admin.first_name
    -else
      =@maintenance_request.agent_name
  %h3
    =@maintenance_request.maintenance_heading
  %p
    =@maintenance_request.maintenance_description 


  =render "maintenance_requests/quotes", object:@quotes
  

%div.container
  %button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#ask-mr-landlord-modal"}
    Ask Landlord
  %button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#request-quote-modal"}
    Request Quote
  %button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#send-work-order-modal"}
    Send Work Order
  -if @maintenance_request.property.landlord != nil  
    %button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#landlord-message-modal"}
      Send Landlord Message
  %button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#tenant-message-modal"}
    Send Tenants Message
  -if !@maintenance_request.invoices.empty? 
    %button{:type=>"button", :class=>"btn btn-primary btn-lg"}
      =link_to "View and Print Invoice", view_invoice_path(invoice_id:@invoice.id)

        
    
///////THIS WILL ALL GO INTO THEIR OWN VIEWS ////////////////////
/ -elsif current_user.tenant?
/   %button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#tenant-message-modal"}
/     Send Agent Message

/ -elsif current_user.landlord?
/   %button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#landlord-message-modal"}
/     Send Agent Message
/   %button{:type=>"button", :class=>"btn btn-primary btn-lg"}
/     =link_to "Request Quote", request_quote_path(maintenance_request_id:@maintenance_request.id), method: :post
/   %button{:type=>"button", :class=>"btn btn-primary btn-lg"}
/     =link_to "Fix Myself & Make Appointment With Tenant", new_landlord_appointment_path(maintenance_request_id:@maintenance_request.id)
/   %button{:type=>"button", :class=>"btn btn-primary btn-lg"}
/     =link_to "Job Completed", job_completed_path(maintenance_request_id:@maintenance_request.id), method: :post

/ -elsif current_user.trady?
/   %button{:type=>"button", :class=>"btn btn-primary btn-lg"} 
/     =link_to "Create or Upload Invoices", invoice_options_path(trady_company_id:@maintenance_request.trady.trady_company.id, maintenance_request_id:@maintenance_request.id,trady_id:@maintenance_request.trady.id, quote_id:@quote_id)

    
/////////////WE HAVE TO ADD THIS BELOW TO EACH VIEW FOR EACH OF THE REQUIRE ROLES SEE BELOW
/ -if current_user.agent? || current_user.agency_admin? || current_user.trady?

- @maintenance_request.delivered_invoices.each_with_index do |invoice, index| 
  
  %div.well 
    %h5
      =link_to "Invoice #{index+1}", view_invoice_path(invoice_id:invoice.id)
    %p 
      ="Company Name: #{invoice.trady.trady_company.company_name}"
    %p
      ="Name: #{invoice.trady.name}"
    %p 
      ="Invoice Total Amount: $#{invoice.amount}"

-@pdf_files.each_with_index do |pdf, index|
  %div.well 
    %h5
      =link_to "PDF File Invoice #{index+1}", view_pdf_invoice_path(id:pdf.id)
    %p 
      ="Company Name: #{pdf.maintenance_request.trady.trady_company.company_name}"
    %p
      ="Name: #{pdf.maintenance_request.trady.name}"
        
/****************MODALS****************/     
/**************************************/
%div{:class=>"modal fade", :id=>"tenant-message-modal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
  %div{:class=>"modal-dialog", :role=>"document"}
    %div{:class=>"modal-content"}
      %div{:class=>"modal-body message_modal"}
        %div.messages_container    
          = render partial: "messages/message", collection: @tenants_conversation, as: :message   
        %div{:id=>"errors_div"}
        =bootstrap_form_for(@message,remote: true,url:"/messages", method: :post) do |f|
          =f.text_field :body, class: "message_body"
          =f.hidden_field :conversation_type, value:"Tenant"
          =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
          =f.submit "Submit Message", :class=>"btn btn-default"
          %button{:type=>"button", :class=>"btn btn-default", "data-dismiss"=>"modal"}
            Close

%div{:class=>"modal fade", :id=>"landlord-message-modal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
  %div{:class=>"modal-dialog", :role=>"document"}
    %div{:class=>"modal-content"}
      %div{:class=>"modal-body message_modal"}
        %div.messages_container    
          = render partial: "messages/message", collection: @landlords_conversation, as: :message   
        %div{:id=>"errors_div"}
        =bootstrap_form_for(@message,remote: true,url:"/messages", method: :post) do |f|
          =f.text_field :body, class: "message_body"
          =f.hidden_field :conversation_type, value:"Landlord"
          =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
          =f.submit "Submit Message", :class=>"btn btn-default"
          %button{:type=>"button", :class=>"btn btn-default", "data-dismiss"=>"modal"}
            Close
        
=bootstrap_form_for(@landlord,url:"/create_landlord",remote: true) do |f|
  %div{:class=>"modal fade", :id=>"ask-mr-landlord-modal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
    %div{:class=>"modal-dialog", :role=>"document"}
      %div{:class=>"modal-content"}
        %div{:class=>"modal-body"}
          =f.text_field :name, class: "create_landlord_fields", value:"#{@maintenance_request.property.landlord.nil? ? '' : @maintenance_request.property.landlord.name}"
          =f.text_field :email, class: "create_landlord_fields", value:"#{@maintenance_request.property.landlord.nil? ? '' : @maintenance_request.property.landlord.email}"
          =f.phone_field :mobile, class: "create_landlord_fields", value:"#{@maintenance_request.property.landlord.nil? ? '' : @maintenance_request.property.landlord.mobile}"
          =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
          =f.submit "Submit Message", :class=>"btn btn-default"

=bootstrap_form_for(@landlord,remote: true) do |f|
  %div{:class=>"modal fade", :id=>"create-landlord-modal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
    %div{:class=>"modal-dialog", :role=>"document"}
      %div{:class=>"modal-content"}
        Please add landlord before attempting to send a quote to the landlord.
        %div{:class=>"modal-body"}
          =f.text_field :name, class: "landlord_fields"
          =f.text_field :email, class: "landlord_fields"
          =f.phone_field :mobile, class: "landlord_fields"
          =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
          =f.submit "Add Landlord", :class=>"btn btn-default"
          

=bootstrap_form_for(@tradie, remote: true) do |f|
  %div{:class=>"modal fade", :id=>"request-quote-modal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
    %div{:class=>"modal-dialog", :role=>"document"}
      %div{:class=>"modal-content"}
        %div{:class=>"modal-body"}
          =collection_select(@tradie,:id, @all_tradies, :id, :name_and_company,{prompt: "Select or Add New Tradie"}, id:"trady_select")
          =f.text_field :company_name, class: "tradie_fields", id:"trady_company_name"
          =f.text_field :name, class: "tradie_fields", id:"trady_name"
          =f.text_field :email, class: "tradie_fields", id:"trady_email"
          =f.phone_field :mobile, class: "tradie_fields", id:"trady_mobile"
          =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
          =f.hidden_field :skill_required, value:@maintenance_request.service_type
          =f.hidden_field :trady_request, value:"Quote" 
          =f.submit "Send Request", :class=>"btn btn-default"

=bootstrap_form_for(@tradie, remote: true) do |f|
  %div{:class=>"modal fade", :id=>"send-work-order-modal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
    %div{:class=>"modal-dialog", :role=>"document"}
      %div{:class=>"modal-content"}
        %div{:class=>"modal-body"}
          =collection_select(@tradie,:id, @all_tradies, :id, :name_and_company,{prompt: "Select or Add New Tradie"}, id:"trady_work_order_select")
          =f.text_field :company_name, class: "tradie_fields", id:"trady_company_name_work_order"
          =f.text_field :name, class: "tradie_fields", id:"trady_name_work_order"
          =f.text_field :email, class: "tradie_fields", id:"trady_email_work_order"
          =f.phone_field :mobile, class: "tradie_fields", id:"trady_mobile_work_order"
          =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
          =f.hidden_field :skill_required, value:@maintenance_request.service_type
          =f.hidden_field :trady_request, value:"Work Order" 
          =f.submit "Send Request", :class=>"btn btn-default"


%div{:class=>"modal fade", :id=>"more_quotes", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
  %div{:class=>"modal-dialog", :role=>"document"}
    %div{:class=>"modal-content"}
      %div{:class=>"modal-body"}
        %p Would you like to ask for more Quotes
        %button{:type=>"button", :class=>"btn btn-primary ","aria-haspopup"=>"true", id:"no-more-quotes" } No
        %button{:type=>"button", :class=>"btn btn-primary ", id:"yes-more-quotes"} Yes







        
          
          



        
          
          

