!!! 5
%html(lang="en-US")
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;subset=latin-ext,vietnamese"}
    %style{:type => "text/css"}
      :sass
        body
          margin: 0
          padding: 0
        .text-center
          text-align: center
        .container-email
          width: 550px
          margin: auto
          .header
            background-color: #3d4b54
            .logo
              height: 60px
              display: flex
              padding-top: 10px
              align-items: center
              justify-content: center
              text-decoration: none
              span
                color: #fff
                font-size: 24px
                text-decoration: none
                padding-left: 5px
                font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
          .main
            width: 490px
            margin: auto
            .btn
              display: inline-block
              width: 200px
              height: 40px
              background-color: #34b249
              color: #fff
              text-decoration: none
              font-size: 16px
              border: none
              line-height: 40px
              text-transform: capitalize
              &:hover
                background-color: #2FA342
          .footer
            background-color: #F4F8FB
            height: 80px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            .contact
              margin-left: 10px
            .share
              margin-right: 10px
              .link-share
                text-decoration: none
                margin-left: 10px
                display: inline-block

  %body
    .container-email
      .header
        = link_to "#", :class => "logo" do
          %img{:src => asset_path("http://localhost:3000/assets/logo.png"), :class => 'img'}
          %span
            MaintenanceApp

      .main
        %p.content
          Hi, a quote has been submitted by a trady for the maintenance request
          =@maintenance_request.maintenance_heading
        %div.text-center
          -if @user.role.roleable_type == "AgencyAdmin"
            =link_to "See Quote", agency_admin_maintenance_request_url(id:@maintenance_request.id,email_quote_id:@quote.id,user_id:@user.id), class: 'btn'
          -elsif @user.role.roleable_type = "Agent"
            =link_to "See Quote", agent_maintenance_request_url(id:@maintenance_request.id,email_quote_id:@quote.id,user_id:@user.id), class: 'btn'
        %p.thank
          Thanks so much!

        %p.team
          The Team MaintenanceApp

      .footer
        .contact
          Copyright &copy; 2016 - MaintenanceApp.
        .share
          = link_to "#", :class => 'link-share' do
            = image_tag "http://localhost:3000/assets/ico-twitter.png", :class => 'img'
          = link_to "#", :class => 'link-share' do
            = image_tag "http://localhost:3000/assets/ico-facebook.png", :class => 'img'
          = link_to "#", :class => 'link-share' do
            = image_tag "http://localhost:3000/assets/ico-instagram.png", :class => 'img'
          = link_to "#", :class => 'link-share' do
            = image_tag "http://localhost:3000/assets/ico-google.png", :class => 'img'
