%div.container.well
  %div.send-email-quote
    %div.header-quote
      %div.logo
        = link_to "#" do
          %img{:src => asset_path("assets/logo.png"), :class => 'img'}
      %div.info-quote
        %p
          %span Business:
          %span
            = "#{@trady.trady_company.company_name}"
        %p
          %span ABN:
          %span
            = "#{@trady.trady_company.abn}"
        %p
          %span Address:
          %span
            = "#{@trady.trady_company.address}"
        %p
          %span Phone:
          %span
            = "#{@trady.trady_company.mobile_number}"
        %p
          %span Email:
          %span
            = "#{@trady.trady_company.email}"

    %hr
    %div.quote
      %div.info-agency
        %p.color-grey.bill-to Bill To
        %p.text-capitalize
          = @landlord ? "#{@landlord.name}" : nil
        %p
          = @agency ? "C/-" + "#{@agency.company_name}" : nil
        %p
          = @agency ? "#{@agency.address}" : nil

      %div.date-quote
        %p
          %span.font-bold Quote Number:
          %span
            = "#{@quote.id}"
        %p
          %span.font-bold Quote Date:
          %span
            = "#{@quote.created_at.strftime('%B %d, %Y')}"
    %div.quote-items
       
      %table
        %tr
          %th Description
          %th Pricing
          %th Hours
          %th.text-right Rate
          %th.text-right Amount
        -@quote.quote_items.each do |f|
        
          %tr
            %td
              ="#{f.item_description.capitalize}"
            %td 
              =f.pricing_type
            %td
              -if f.pricing_type == 'Fixed Cost'
                N/A
              -elsif f.pricing_type == 'Hourly'
                = f.hours
            %td.text-right
              ="$#{f.amount.round(2)}"
            %td.text-right
              -if f.pricing_type == 'Fixed Cost'
                = "$#{f.amount.round(2)}"
              -elsif f.pricing_type == 'Hourly'
                ="$#{(f.amount * f.hours).round(2)}"
        %tr
          %td.border-none.p-b-n{:colspan => 3}
          %td.border-none.text-right.font-bold.p-b-n Subtotal:
          %td.border-none.text-right.p-b-n
            = "$#{@quote.amount}"
        %tr
          %td.p-t-n{:colspan => 3}
          %td.text-right.p-t-n GST 10%:
          %td.text-right.p-t-n
            = "$#{@quote.gst_amount.round(2)}"
        %tr
          %td.border-none{:colspan => 3}
          %td.border-none.text-right.font-bold Amount Due (AUD):
          %td.border-none.text-right.font-bold
            = "$#{@quote.amount.round(2)}" 

      %div.button-quote
        %button{:type=>"button", :class=>"button button-primary"} 
          =link_to "Back", edit_quote_path(@quote, maintenance_request_id:@maintenance_request.id, trady_id:@trady_id, quote_type:@quote_type, system_plan:@system_plan)
        %button{:type=>"button", :class=>"button button-primary green"} 
          =link_to "Send Quote", quote_email_path(maintenance_request_id:@maintenance_request.id,quote_id:@quote.id)
