%div.container.well
  %div.send-email-quote
    %div.header-quote
      %div.logo
        = link_to "#" do
          %img{:src => asset_path("assets/logo.png"), :class => 'img'}
      %div.info-quote
        %p
          %span
            = "#{@trady.trady_company.company_name}"
        %p
          %span
            = "#{@trady.trady_company.abn}"
        %p
          %span
            = "#{@trady.trady_company.address}"
        %p
          %span
            = "#{@trady.trady_company.mobile_number}"
        %p
          %span
            = "#{@trady.trady_company.email}"

    %hr
    %div.quote
      %div.info-agency
        %p.color-grey.bill-to Bill To
        %p.text-capitalize
          = @landlord ? "#{@landlord.name}" : nil
        %p
          = @agency ? "C/-" + "#{@agency.company_name}" : nil
        %p
          = @agency ? "#{@agency.address}" : nil

      %div.date-quote
        %p
          %span.font-bold Quote Reference:
          %span
            = @quote.trady_quote_reference != "" ? "#{@quote.trady_quote_reference}" : "#{@property.property_address}"
        %p
          %span.font-bold Quote Date:
          %span
            = "#{@quote.created_at.strftime('%B %d, %Y')}"
    %div.quote-items

      %table
        %tr
          %th Description
          %th Pricing
          %th.text-right Rate
          %th.text-right Amount
          %th.text-right Min Price
          %th.text-right Max Price
        -@quote.quote_items.each do |f|

          %tr
            %td
              ="#{f.item_description.capitalize}"
            %td
              =f.pricing_type

            %td.text-right
              -if f.pricing_type == 'Hourly'
                ="$#{f.amount.round(2)}"
            %td.text-right
              -if f.pricing_type == 'Fixed Cost'
                = "$#{f.amount.round(2)}"
            %td.text-right
              -if f.pricing_type == 'Fixed Variable'
                = "$#{f.min_price.round(2)}"
            %td.text-right
              -if f.pricing_type == 'Fixed Variable'
                = "$#{f.max_price.round(2)}"


      %div.button-quote
        =link_to "Back", edit_quote_path(@quote, maintenance_request_id:@maintenance_request.id, trady_id:@trady_id, quote_type:@quote_type, system_plan:@system_plan), class: 'button button-primary'
        =link_to "Send Quote", quote_email_path(maintenance_request_id:@maintenance_request.id,quote_id:@quote.id), class: 'button button-primary green'
