!!! 5
%html(lang="en-US")
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:400,600,700&amp;subset=latin-ext", :rel => "stylesheet"}
    %style{:type => "text/css"}
      :sass
        @import ../../assets/stylesheets/_mixins
        body
          margin: 0
          padding: 0
        .text-center
          text-align: center
        .container-email
          width: 550px
          margin: auto
          .header
            background-color: #3d4b54
            .logo
              height: 60px
              @include flexbox
              padding-top: 20px
              padding-bottom: 20px
              align-items: center
              justify-content: center
              text-decoration: none
              span
                color: #fff
                font-size: 24px
                text-decoration: none
                font-weight: 600
                padding-left: 5px
                font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
          .main
            width: 85%
            margin: auto
            margin-top: 30%
            margin-bottom: 30%
            color: #849aaa
            font-weight: 600
            font-size: 16px
            font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
            .content
              margin-top: 70px
            .team
              margin-bottom: 70px
            .btn
              display: inline-block
              width: 230px
              height: 40px
              background-color: #7dc691
              color: #fff
              text-decoration: none
              font-size: 16px
              border: none
              line-height: 40px
              text-transform: capitalize
              border-radius: 5px
              margin-top: 20px
              margin-bottom: 20px
              &:hover, &:active
                background-color: #7dc691
          .footer
            background-color: #F4F8FB
            height: 80px
            @include flexbox
            flex-direction: column-reverse
            justify-content: center
            align-items: center
            .contact
              margin-left: 10px
              color: #849aaa
              font-weight: 600
              font-size: 16px
              font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
            .share
              margin-right: 10px
              .link-share
                text-decoration: none
                margin-left: 10px
                display: inline-block
        @media (max-width: 480px)
          .container-email
            width: 350px
            .main
              width: 95%
  %body
    .container-email
      .header
        = link_to "#", :class => "logo" do
          %img{:src => asset_path("https://maintenanceapp.com.au/assets/logo.png"), :class => 'img'}
          %span
            MaintenanceApp
      .main
        %p.content
          

          Hi #{@landlord.name.capitalize},

          -if @maintenance_request.agent
            %br
              Your agent, #{@agent.name.capitalize} would like your instructions regarding a new maintenance request for #{@property.property_address}. 
          -elsif @maintenance_request.agency_admin
            %br
              Your agent, #{@agent.first_name.capitalize} would like your instructions regarding a new maintenance request for #{@property.property_address}. 
          %br
            To view the maintenance request and confirm your instructions, please click on the button below.

        %div.text-center
          =link_to "View Maintnenace Request", landlord_maintenance_request_url(id:@maintenance_request.id,user_id:@landlord.user.id), class: 'btn'

        %p.thank
          Thank you :)

        %p.team
          The MaintenanceApp Team

      .footer
        .contact
          Copyright &copy; 2016 - MaintenanceApp.
          %br
            %unsubscribe_url
        .share
          = link_to "#", :class => 'link-share' do
            = image_tag "https://maintenanceapp.com.au/assets/ico-twitter.png", :class => 'img'
          = link_to "#", :class => 'link-share' do
            = image_tag "https://maintenanceapp.com.au/assets/ico-facebook.png", :class => 'img'
          = link_to "#", :class => 'link-share' do
            = image_tag "https://maintenanceapp.com.au/assets/ico-instagram.png", :class => 'img'
          = link_to "#", :class => 'link-share' do
            = image_tag "https://maintenanceapp.com.au/assets/ico-google.png", :class => 'img'
