/ =f.fields_for :invoice do |invoice_form|
%br
%fieldset.nested-fields
  =f.hidden_field :maintenance_request_id, value:"#{@maintenance_request_id}"
  =f.hidden_field :trady_id, value:"#{@trady.id}"
  
  
  #invoice-items
  =f.fields_for :invoice_items do |items_form|
    = render "invoices/invoice_item_fields", f: items_form
  %div.links
    = link_to_add_association "Add Invoice item", f, :invoice_items
    = link_to_remove_association "Remove Invoice", f
  %div
    = f.form_group :tax do
      = f.check_box :tax, label: "Total Includes GST", :checked => @trady.trady_company.gst_registration
    =f.text_field :amount, :readonly=>true, placeholder:"$0.00", label:"Invoice Total", value:"100"
    =f.date_field :due_date, label: "Invoice Due On"

  