=react_component('StepProgress', {:step => 3})
%div.container.invoice-form.well
  %div.send-email-quote
    %div.header-quote
      %div.logo
        = link_to "#" do
          %img{:src => asset_path("assets/logo.png"), :class => 'img'}
      %div.info-quote
        %p
          %span
            = "#{@trady.trady_company.company_name}"
        %p
          %span
            = "#{@trady.trady_company.abn}"
        %p
          %span
            = "#{@trady.trady_company.address}"
        %p
          %span
            = "#{@trady.trady_company.mobile_number}"
        %p
          %span
            = "#{@trady.trady_company.email}"

    %hr
    %div.quote
      %div.info-agency
        %p.color-grey.bill-to Bill To
        %p.text-capitalize
          = @landlord ? "#{@landlord.name}" : nil
        %p
          = @agency ? "C/-" + "#{@agency.company_name}" : nil
        %p
          = @agency ? "#{@agency.address}" : nil

      %div.date-quote
        %p
          %span.font-bold Invoice Number:
          %span
            = "#{@invoice.id}"
        %p
          %span.font-bold Invoice Date:
          %span
            = "#{@invoice.created_at.strftime('%B %d, %Y')}"
        %p
          %span.font-bold Payment Date:
          %span
            = "#{@invoice.due_date.strftime('%B %d, %Y')}"

    %div.quote-items        
      %table
        %tr
          %th Description
          %th Pricing
          %th Hours
          %th.text-right Rate
          %th.text-right Amount
        -@invoice.invoice_items.each do |f|
          %tr
            %td
              ="#{f.item_description.capitalize}"
            %td 
              ="#{f.pricing_type}"
            %td
              -if f.pricing_type == 'Fixed Cost'
                ="N/A"
              -elsif f.pricing_type == 'Hourly'
                = "#{f.hours}"
            %td.text-right
              ="$ #{f.amount.to_f}"
            %td.text-right
              -if f.pricing_type == 'Fixed Cost'
                = "$ #{f.amount}"
              -elsif f.pricing_type == 'Hourly'
                ="$#{f.amount * f.hours}"
        -if @invoice.tax == true
          %tr
            %td.border-none.p-b-n{:colspan => 3}
            %td.border-none.text-right.font-bold.p-b-n Subtotal:
            %td.border-none.text-right.p-b-n.font-bold
              ="$ #{@invoice.amount.round(3)}"
          %tr
            %td.p-t-n{:colspan => 3}
            %td.text-right.p-t-n GST 10%:
            %td.text-right.p-t-n
              = "$ #{ (@invoice.gst_amount).round(2)}"
        -else
          %tr
            %td.border-none.p-b-n{:colspan => 3}
            %td.border-none.text-right.font-bold.p-b-n Subtotal:
            %td.border-none.text-right.p-b-n
              = "$ #{@invoice.amount.round(2)}"
          %tr
            %td.p-t-n{:colspan => 3}
            %td.text-right.p-t-n GST 10%:
            %td.text-right.p-t-n
              = "$ 0.00"
        %tr
          %td.border-none{:colspan => 3}
          %td.border-none.text-right.font-bold Amount Due (AUD):
          %td.border-none.text-right.font-bold
            = "$ #{@invoice.amount.round(2)}"

  %div.qf-button
    %button.button.button-primary.left
      =link_to "Back", edit_invoice_path(@ledger, maintenance_request_id:@maintenance_request.id, trady_id:@trady_id, quote_id:@quote_id, invoice_type:@invoice_type, system_plan:@system_plan)
    %button.button.button-primary.green.right
      =link_to "Send Invoice", send_invoice_path(maintenance_request_id:@maintenance_request.id, trady_id:@trady_id ), method: :post



    