=react_component('StepProgress', {:step => 3})

%div.container.invoice-form
  -@ledger.invoices.each_with_index do |invoice, index| 
    %div.row
      %h5
        ="Invoice # #{index+1}"
    %div.invoice-info
      -invoice.invoice_items.each do |f|
        %div.row
          -if f.pricing_type == "Hourly"
            %p #{f.item_description.capitalize} (#{f.hours} hours X $ #{f.amount.to_f} /hour)
            %span $ #{f.total_per_hour}
          -elsif f.pricing_type == "Fixed Cost"
            %p #{f.item_description.capitalize}
            %span $ #{f.amount.to_f}

      -if invoice.tax == true
        %p Before Tax
        %span $ #{ (invoice.amount - invoice.gst_amount).round(2)}
        %br
        %p GST
        %span $ #{ (invoice.amount - invoice.amount/1.10).round(2)}
      -elsif invoice.tax == false
        %p GST
        %span $ 0.00
      %hr    
      %h6
        %b
          %p Total
          %span $ #{invoice.amount.round(3)}
      %h6
        %b
          ="Invoice Due: #{invoice.due_on}"
    %hr
  %div.grand-total
    %h5
      ="Grand Total : $ #{@ledger.grand_total.round(3)}"
  %div.qf-button
    %button.button.button-primary.left
      =link_to "Back", edit_invoice_path(@ledger, maintenance_request_id:@maintenance_request.id, trady_id:@trady_id, quote_id:@quote_id, invoice_type:@invoice_type, system_plan:@system_plan)
    %button.button.button-primary.green.right
      =link_to "Send Invoice", send_invoice_path(maintenance_request_id:@maintenance_request.id, trady_id:@trady_id ), method: :post

