%div  
  



%div.container
  -@maintenance_requests.each do |maintenance_request|
    %div.well
      %div
        -if maintenance_request.maintenance_request_image != nil
          -maintenance_request.maintenance_request_image.images.each do |image|
            = image_tag(image.url.to_s)
      %h3
        =link_to "#{maintenance_request.maintenance_heading}", maintenance_request_path(maintenance_request)
      %p
        =maintenance_request.maintenance_description
      %p
        Created:
        = maintenance_request.created_at.strftime("%d %b. %Y")
      %p
        Job type:
        = maintenance_request.service_type
      %p
        Address:
        = maintenance_request.property.property_address


      = will_paginate @maintenance_requests 
