

/ %div.container
/   %div.well
/     %h5 
/       Company Information
/     %p
/       =@trady.trady_company.company_name
/       %br
/       =@trady.trady_company.address
/       %br
/       =@trady.trady_company.mobile_number
/       %br
/       =@trady.trady_company.email
%div.container.invoice-form.well
  / %h6
  /   ="Invoice Status: #{@invoice.payment_status}"

  %h4 
    Invoice
  %h5
    Company Information
  %p
    Company :  
    =@trady.trady_company.company_name
    %br
    Address :  
    =@trady.trady_company.address
    %br
    Phone :  
    =@trady.trady_company.mobile_number
    %br
    Email :  
    =@trady.trady_company.email

  %hr
  %div.invoice-info 
    -@invoice.invoice_items.each do |f|
      %div.row
        %br
        -if f.pricing_type == "Hourly"
          %p #{f.item_description.capitalize} (#{f.hours} hours X $ #{f.amount.to_f} /hour)
          %span $#{f.amount * f.hours}
        -elsif f.pricing_type == "Fixed Cost"
          %p #{f.item_description.capitalize}
          %span $ #{f.amount.to_f}
        
    %hr
    %div.row
      -if @invoice.tax == true
        %p GST
        %span $ #{ (@invoice.amount - @invoice.amount/1.10).round(2)}
      -elsif @invoice.tax == false
        %p GST
        %span $ 0.00
      %hr    
      %p Total
      %span $#{@invoice.amount}

  %hr

  %button.button.button-primary.green
    = link_to 'Print Invoice', print_invoice_path(id:@invoice), :onclick => 'window.print();return false;', method: :post
