
/ - invoice = @invoices[0]
- image_url = '', subTotal = 0, isShowVoidModal = invoice.paid === false && invoice.active === false
/ - role = current_user.current_role.role
- trady = invoice.trady
- trady_company = trady.trady_company
- agency = @agency || {}, property = @property || {}
- landlord = @landlord || {}


- if trady_company && trady_company.trady_company_profile_image
  - image_url = trady_company.trady_company_profile_image.image_url

/ - def capitalizeText(text)
/   - text.split.map(&:capitalize).join(' ')

/ - def formatABN(text) 
/   - text.match(/.{1,3}/).join(' ')
/ - def formatPhone(text) 
/   - text.gsub(/(.{2})(.{4})(.{4})(.*)/, '$1 $2 $3 $4').trim

/ - def formatMobile(text)
/   - text.replace(/(.{4})(.{3})(.{3})(.*)/, '$1 $2 $3 $4').trim 

/ // Sum total invoice from invoice_items
/ - subTotal = 0
/ / - if @invoice.invoice_items do
/ - invoice.invoice_items.each do |item|
/   -if item.pricing_type == "Fixed Cost"
/     - subTotal += item.amount
/   - else
/     - subTotal += (item.amount * item.hours)

%div{:id => "view-pdf-format"}
  %div{:className => "invoice-pdf-format"}
    %div{:className => "header"}
      %div{:className => "logo"}
        %span{:className => "icon-user"}
          - if image_url
            %img#avatar{:alt => "Avatar Image", :src => image_url}

      %div{:className => "info-trady"}
        %p
          %span
            %b{:className => "company-name"}
              =trady.capitalize_company_name
        %p
          %span
            -if trady.trady_company.abn 
              ="ABN "
        %p
          %span
            =trady.trady_company.format_address
        / %p
        /   %span
        /     - if trady.trady_company.mobile_number 
        /       ="Mobile:
        / %p
        /   %span
        /     - if trady.trady_company.landline 
        /       ="Landline: 
        %p
          %span
            - if trady.trady_company.email 
              ="Email: #{trady.trady_company.email}"
    %div{:className => "body"}
      %div{:className => "main-content"}
        %div{:className => "main-info"}
          %div{:className => "agency-info"}
            %div
              %p{:className => "font-bold bill-to"} Bill To
              %p 
                - if landlord 
                  =landlord.capitalize_name
              %p
                %span{:className => "font-bold"} C/-
                - if agency 
                  =agency.format_business_name
              %p 
                - if agency 
                  =agency.format_address
          %div{:className => "invoice-info"}
            %p
              %span{:className => "font-bold"} Invoice Ref:
              %span 
                =invoice.trady_invoice_reference.nil? ? 'N/A': invoice.trady_invoice_reference
            %p
              %span{:className => "font-bold"} Issue date:
              %span= invoice.created_at.format("LL") 
            %p
              %span{:className => "font-bold"} Due date:
              %span=moment(invoice.due_date).format("LL") 
        %p{:className => "font-bold service-address"}
          ="Service Address: #{capitalizeText(property.property_address)}"
        %div{:className => "detail position-rl"}
          -if invoice.invoice_items 
            %table{:className => "table"}
              %thead
                %tr
                  %th{:className => "invoice-description"}
                    Description
                  %th{:className => "invoice-price"}
                    Pricing
                  %th{:className => "invoice-hour"}
                    Hours
                  %th{:className => "invoice-rate"}
                    Rate
                  %th{:className => "invoice-amount"}
                    Amount
              %tbody
                -if isShowVoidModal 
                  %div{:className => "text-center position-ab reason-void"}
                    %div{:className => "reason-header"} INVOICE VOID DO NOT PAY
                    %div{:className => "reason-title"} Reason for voiding:
                    %div{:className => "reason-content"}=invoice.void_reason
              
                -invoice.invoice_items.each do |item|
                  %tr
                    %td{:className => "invoice-description"}=item.item_description
                    %td{:className => "invoice-price"}=item.pricing_type
                    %td{:className => "invoice-hour"}= item.pricing_type == 'Fixed Cost' ? 'N/A' : item.hours.toFixed(2)
                    %td{:className => "invoice-rate"}= item.pricing_type == "Fixed Cost" ? 'N/A' : item.amount ? "$ #{item.amount}" : 'N/A'
                    %td{:className => "invoice-amount"}="$#{item.pricing_type == 'Fixed Cost' ? item.amount.toFixed(2) : (item.amount * item.hours).toFixed(2)}"
              
                %tr
                  %td{:className => "border-none p-b-n", :colSpan => "3"}
                  %td{:className => "text-right border-none font-bold p-b-n"}
                    Subtotal:
                  %td{:className => "border-none p-b-n"}
                    ="$ #{(subTotal - invoice.gst_amount).toFixed(2)}"
                %tr
                  %td{:className => "border-none p-t-n", :colSpan => "3"}
                  %td{:className => "text-right font-bold p-t-n"}
                    GST 10%:
                  %td{:className => "p-t-n"}
                    ="$ #{invoice.gst_amount.toFixed(2)}"
                %tr{:className => "position-rl"}
                  %td{:className => "border-none", :colSpan => "3"}
                  %td{:className => "text-right font-bold border-none"}
                    Amount Due:
                  %td{:className => "font-bold border-none"}
                    ="$ #{subTotal.toFixed(2)}"
                -if role === 'Trady' && trady && trady.jfmo_participant && invoice.service_fee 
                  %tr
                    %td{:className => "border-none", :colSpan => "3"}
                    %td{:className => "text-right font-bold border-none"}
                      Service Fee:
                    %td{:className => "font-bold border-none"}
                      ="$ #{invoice.service_fee}"
    %div{:className => "footer"}
      %div{:className => "bank"}
        %div
          %i{:className => "fa fa-bank"}
          %p{:className => "font-bold"} Bank Deposit
        %p
          %span{:className => "font-bold"} Account Name:
          %span= capitalizeText(trady.trady_company.account_name)
        %p
          %span{:className => "font-bold"} BSB no.
          %span= formatABN(trady.trady_company.bsb_number)
        %p
          %span{:className => "font-bold"} ACC no.
          %span= formatABN(trady.trady_company.bank_account_number)
        -if invoice.invoice_items 
          %p
            %span{:className => "font-bold"} Invoice Amount:
            %span=  subTotal.toFixed(2) 
      
      %div{:className => "contact"}
        %div
          %i{:className => "fa fa-envelope-o"}
          %p{:className => "font-bold"} Mail
        %p
          %span{:className => "font-bold"} Make your cheque payable to:
          %span= capitalizeText(trady.trady_company.account_name)
        %p
          %span{:className => "font-bold"} Detach this section and mail with your cheque to:
          %span= capitalizeText(trady.trady_company.address)


