%div.well.container
  =react_component('AgencyRegistrationForm', {:authenticity_token => form_authenticity_token, :agency => @agency, :agency_id => @agency.id, :edit_agency_registration_path => edit_agency_registration_path(agency_id: @agency.id), :step => "agency-company"})

= bootstrap_form_for @agency, url:"/update_agency_registration", method: :put do |f|
  = f.text_field :business_name
  = f.text_field :company_name
  = f.text_field :address
  = f.check_box :mailing_same_address
  = f.text_field :mailing_address
  = f.phone_field :phone
  = f.phone_field :mobile_phone
  = f.hidden_field :agency_id, value:@agency.id
  = f.submit
