<h1> This is the home page</h1>



%div.container{:style=>"width:80%;"}
  = bootstrap_form_tag url: '/route_user_type', autocomplete:"off" do |f| 
    =f.fields_for :form_fields  do |h|
      = h.select :user_role, options_for_select(@main_users.map{|j|[j.main_user_type, j.main_user_type] }), prompt: 'As A...' 
      = h.select :tradie, options_for_select(@service.map{|j|[j.service, j.service] }), prompt: 'As A...' 
      = h.text_field :address, id:'pac-input', :placeholder => 'Start typing a place name...', disable:true
      = h.submit "Send"

%input{:type=>"hidden", :id=>"refresh", :value=>"no"}

