
%div.maintenance-list.container
  = react_component 'DropforSort', {:sort_by_date => @sort_by_date, :page => @page}
  %div.main-column
    -@maintenance_requests.each do |maintenance_request|
      %div.row
        %div.five.columns
          %div.image
            = react_component 'ImgSlider',
                            {:images => maintenance_request.maintenance_request_image ? maintenance_request.maintenance_request_image.images : ''}

        %div.seven.columns                   
          %div.info
            %div.row
              %h3.heading
                =link_to "#{maintenance_request.maintenance_heading}", trady_maintenance_request_path(maintenance_request)
              %p.status
                =maintenance_request.action_status.maintenance_request_status
            %div.row
              %p.created_at
                = maintenance_request.created_at.strftime("%d %b. %Y")
              %p.type
                |
                = maintenance_request.service_type
            = react_component 'P', {:content => maintenance_request.maintenance_description}
            %p.address
              %i.fa.fa-map-marker
              = maintenance_request.property.property_address
        %hr
        = will_paginate @maintenance_requests, :previous_label => '< Back', :next_label => 'Next >'

  %div.side-column
    trady filters


=link_to "Quote Requests", trady_filtered_maintenance_requests_path(trady_id:current_user.trady.id,maintenance_request_filter:"Quote Requests"), remote: true

=link_to "Awaiting Quote Approvals", trady_filtered_maintenance_requests_path(trady_id:current_user.trady.id,maintenance_request_filter:"Awaiting Quote Approvals"), remote: true

=link_to "Appointments Required", trady_filtered_maintenance_requests_path(trady_id:current_user.trady.id,maintenance_request_filter:"Appointments Required"), remote: true
=link_to "Awaiting Appointment Confirmation", trady_filtered_maintenance_requests_path(trady_id:current_user.trady.id,maintenance_request_filter:"Awaiting Appointment Confirmation"), remote: true
=link_to "Alternate Appointment Requested", trady_filtered_maintenance_requests_path(trady_id:current_user.trady.id,maintenance_request_filter:"Alternate Appointment Requested"), remote: true
=link_to "Job Booked", trady_filtered_maintenance_requests_path(trady_id:current_user.trady.id,maintenance_request_filter:"Job Booked"), remote: true
=link_to "Awaiting Payment", trady_filtered_maintenance_requests_path(trady_id:current_user.trady.id,maintenance_request_filter:"Awaiting Payment"), remote: true
=link_to "Jobs Completed", trady_filtered_maintenance_requests_path(trady_id:current_user.trady.id,maintenance_request_filter:"Job Complete"), remote: true

=link_to "Declined Quotes", trady_filtered_maintenance_requests_path(trady_id:current_user.trady.id,maintenance_request_filter:"Declined Quotes"), remote: true

