
%div.container.reset-password
  %h1 Choose a new password
  %div.form-reset
    = bootstrap_form_for @user,url: "/update_password" do |f| 
      
      = @user.email 
      = f.password_field :password , required: true , minlength: 3
      = f.password_field :password_confirmation, required: true , autocomplete: "off", minlength: 3
      = button_tag "Update", class: 'button-primary green'
