This is where we add a new trady company 


=bootstrap_nested_form_for(@trady_company, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", remote: true) do |a|
    = a.text_field :trading_name
    = a.text_field :company_name
    
    = a.text_field :abn
    = a.form_group :gst_registration do
      = a.check_box :gst_registration, label: "GST  registration"
    = a.text_field :address
    = a.form_group :mailing_address_same do
      = a.check_box :mailing_address_same, label: "Mailing Address same as Above"
    = a.text_field :mailing_address
    = a.text_field :mobile_number
    = a.text_field :email
    = a.text_field :bsb_number
    = a.text_field :bank_account_number
    = a.text_field :account_name
    = a.hidden_field :maintenance_request_id, value:"#{@maintenance_request_id.nil? ? '' : @maintenance_request_id}"
    
   
    %br
    = a.submit 'Next'
    
      %button.button-primary.green.option-button
        =link_to "Back", new_tradie_registration_path(maintenance_request_id:"#{@maintenance_request_id.nil? ? '' : @maintenance_request_id}")




/ =bootstrap_nested_form_for(@trady_company, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", remote: true) do |a|
/     = a.text_field :company_name, value:"#{@trady.company_name}"
/     = a.text_field :trading_name, value:"#{@company.nil? ? '' : @company.trading_name}"
/     = a.text_field :abn, value:"#{@company.nil? ? '' : @company.abn}"
/     = a.form_group :gst_registration do
/       = a.check_box :gst_registration, label: "GST  registration"
/     = a.text_field :address, value:"#{@company.nil? ? '' : @company.address}"
/     = a.form_group :mailing_address_same do
/       = a.check_box :mailing_address_same, label: "Mailing Address same as Above"
/     = a.text_field :mailing_address, value:"#{@company.nil? ? '' : @company.mailing_address}"
/     = a.text_field :mobile_number, value:"#{@trady.mobile}"
/     = a.text_field :email, value:"#{@trady.email}", label:"Company Email"
/     = a.text_field :bsb_number
/     = a.text_field :bank_account_number
/     = a.text_field :account_name
/     = a.hidden_field :maintenance_request_id, value:"#{@maintenance_request_id.nil? ? '' : @maintenance_request_id}"
    
   
/     = a.submit 'Next'
   
/     =link_to "Back", quote_options_path(maintenance_request_id:@maintenance_request_id,trady_id:@trady_id)
