=link_to "JFMO request list", recruits_path

%br
%br
%br
Maintenance Request ID: @maintenance_request.id
Maintenance Description:
=@maintenance_request.maintenance_description
%br
Maintenance Description:
=@maintenance_request.maintenance_description
%br
Service Needed:
=@maintenance_request.service_type

%br
%br
%br
Form for Sending Tradie Invitation
= bootstrap_form_for @trady, url: '/quote_request_for_recruit', method: :post do |f| 
  = f.text_field :name, placeholder: 'name@example.com'
  = f.text_field :company_name, placeholder: 'Business Name', label: "Business Name"
  = f.email_field :email, placeholder: 'name@example.com'
  = f.phone_field :mobile, placeholder: 'Mobile Phone Number'
  = f.hidden_field :maintenance_request_id, value:@maintenance_request.id
  = f.hidden_field :jfmo_request_id, value:@jfmo_request.id 
  = f.submit "Send Quote Request" 





/ %br
/ %br



/ Form for Sending Quote Request
/ = bootstrap_form_tag url: '/quote_request_for_recruit', method: :post do |f| 
/   = f.email_field :email, placeholder: 'name@example.com'
/   =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
/   =f.hidden_field :jfmo_request_id, value:@jfmo_request.id 
/   = f.submit "Send Quote Request Email" 
