.container
  %div
    -if @gallery != nil
      - @gallery.each do |image| # for each image
        = image_tag(image.url.to_s) # display the image
  %h3 
    = @maintenance_request.service_type 
    Needed for 
    =@maintenance_request.name
  %p 
    Location: 
    =@maintenance_request.property.property_address 
  %p
    Created:
    =@maintenance_request.created_at.strftime("%d %b. %Y")
  %p
    Job type:
    =@maintenance_request.service_type
  %p#landlord
    Landlord:
    
    -if @maintenance_request.property.landlord != nil
      = @maintenance_request.property.landlord.name.capitalize
    -else
      No landlord assigned to this property!

  %p
    Agent Managing: 
    -if @maintenance_request.agent == nil
      ="#{@maintenance_request.agency_admin.first_name} #{@maintenance_request.agency_admin.last_name}"
    -elsif @maintenance_request.agency_admin == nil
      ="#{@maintenance_request.agent.name} #{@maintenance_request.agent.last_name}"
  %h3
    =@maintenance_request.maintenance_heading
  %p
    =@maintenance_request.maintenance_description 


  =render "maintenance_requests/quotes", object:@quotes
  

%div.container
  %h5
    Contact
  -if @maintenance_request.agent != nil  
    %a{:href=>"tel:+#{@maintenance_request.agent.mobile_phone}"}
      ="Call Agent: #{@maintenance_request.agent.mobile_phone}"
  -elsif @maintenance_request.agency_admin != nil  
    %a{:href=>"tel:+#{@maintenance_request.agency_admin.mobile_phone}"}
      ="Call Agent: #{@maintenance_request.agency_admin.mobile_phone}"
  %button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#landlord-message-modal"}
    Send Agent Message

%div.container
  %h5
    Action
  
  %button{:type=>"button", :class=>"btn btn-primary btn-lg"}
    =link_to "Request Quote", request_quote_path(maintenance_request_id:@maintenance_request.id), method: :post
  %button{:type=>"button", :class=>"btn btn-primary btn-lg"}
    =link_to "Fix Myself & Make Appointment With Tenant", new_landlord_appointment_path(maintenance_request_id:@maintenance_request.id)
  %button{:type=>"button", :class=>"btn btn-primary btn-lg"}
    =link_to "Job Completed", job_completed_path(maintenance_request_id:@maintenance_request.id), method: :post

   
/****************MODALS****************/     
/**************************************/

%div{:style=>"border-style: solid; "}   
  Landlord Messaging System (Conversation Between Landlord and Agent)
  = render partial: "messages/message", collection: @landlords_conversation, as: :message   
  =bootstrap_form_for(@message,remote: true,url:"/messages", method: :post) do |f|
    =f.text_field :body, class: "message_body"
    =f.hidden_field :conversation_type, value:"Landlord"
    =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
    =f.submit "Submit Message", :class=>"btn btn-default"
    %button{:type=>"button", :class=>"btn btn-default", "data-dismiss"=>"modal"}
      Close
        
