.container.well#login
  = bootstrap_form_tag url: '/menulogin',:method => :post, html: {novalidate: true}  do |f| 
    / = f.select(:role_picked, [["Agent","Agent"],["Agency Admin","AgencyAdmin"],["Tenant","Tenant"],["Trady","Trady"],["Landlord","Landlord"]], {prompt:"Select Role", :label => "Sign In As"})
    
    .form-group
      = f.form_group :role_picked, label: { text: "Sign In As" } do
        = f.radio_button :role_picked, "Landlord", label: "Landlord"
        = f.radio_button :role_picked, "Trady", label: "Trady" 
        = f.radio_button :role_picked, "Tenant", label: "Tenant" 
        = f.radio_button :role_picked, "AgencyAdmin", label: "Agency Administrator" 
        = f.radio_button :role_picked, "Agent", label: "Agent"

    = f.email_field :email, placeholder: 'Enter email', novalidate: true
    = f.password_field :password,  placeholder: 'Enter password', novalidate: true
    = f.hidden_field :query_id,  value: @query
    .form-group.text-center
      = link_to "Forgot your password?", new_password_reset_path, class: 'forgot-password'
    .form-group.text-center
      = f.button "Log In", class:"button-primary green"
