!!! 5
%html(lang="en-US")
  %head
    %title REALESTATE
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="turbolinks-cache-control" content="no-cache")
    = include_gon(:init => true)
    
    %script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
    
    %script{:type=>"text/javascript", :src=>"https://maps.googleapis.com/maps/api/js?key=AIzaSyCRbOTNRo0sO0yxBpHdhn0NpB_p_Axmye8&libraries=places"}
    / %script{:type=>"text/javascript", :src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"}
    / <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    

    = csrf_meta_tags

    = stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "application", 'data-turbolinks-track': 'reload'

    =yield :head
  %body
    %header
      = render 'shared/nav'
    %section.content.clearfix{:style=>"margin-top: -21px;"}
      = render 'shared/messages'
      = yield
      

    
    %footer
      = render 'shared/footer'
