!!! 5
%html(lang="en-US")
  %head
    %title REALESTATE
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="turbolinks-cache-control" content="no-cache")
    = include_gon(:init => true)

    %script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&subset=latin-ext,vietnamese", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.css", :rel => "stylesheet"}
    %script{:type=>"text/javascript", :src=>"https://maps.googleapis.com/maps/api/js?key=AIzaSyCRbOTNRo0sO0yxBpHdhn0NpB_p_Axmye8&libraries=places"}

    %script{:type=>"text/javascript", :src=>"https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"}

    %script{:type=>"text/javascript", :src=>"https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"}

    = csrf_meta_tags

    = stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "application", 'data-turbolinks-track': 'reload'

    =yield :head
  %body
    = render 'shared/spinner'
    
    %header
      - if content_for? :expanded
        = render 'shared/nav', {:expanded => true}
      - else
        = render 'shared/nav'
    %section.content.clearfix
      = render 'shared/messages'
      = yield



    %footer
      - if content_for? :expanded
        = render 'shared/footer', {:expanded => true}
      - else
        = render 'shared/footer'
